<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>My Books</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	  <style>
	  	/* Remove the navbar's default rounded borders and increase the bottom margin */ 
	    .navbar {
	      margin-bottom: 50px;
	      border-radius: 0;
	    }
	     .jumbotron {
	      margin-bottom: 0;
	    }
	    footer {
	      background-color: #f2f2f2;
	      padding: 25px;
	    }
		</style>
	</head>
	<body>
		<div class="jumbotron">
		  <div class="container text-center">
		    <h1>Online Library</h1>      
		    <p>Book Keeping Made Easy</p>
		  </div>
		</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Title</th>
		      <th scope="col">Author</th>
		      <th scope="col">Genre</th>
		      <th scope="col">Date Added</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>title1</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>Larry</td>
		      <td>the Bird</td>
		      <td>@twitter</td>
		    </tr>
		  </tbody>
		</table>
	</body>
</html>
